html,body {
margin:0px;
}

body {
background-color:#E3EBF4;
font:normal 12px Tahoma;
}

h1,h2,h3,h4{ clear:both;}

div.button { border:1px solid white;
float:left;width:100px;margin:.1em .5em;	
}

.linkbutton {border:1px solid #6666ff; display:block;text-align:center;
font:bold 12px Arial,Helvetica,sans-serif;color:#092076;text-decoration:none;
}

.main
{
width:800px; 
margin: 10px auto ;
padding-bottom: 4px;
box-shadow: 0px 0px 20px 0px ;
}


.searchbox
{
float:right;
}


.content
{
width:600px; 
float:left;
margin: 0px 25px;
}

.ad
{
margin: 15px 15px;
width:120px; 
float:right;
}

.footer
{
clear: both;
margin: 10px 25px;
}

img
{
border: none;
}
